mixin box(imagen, user, number, imagen2, colore) 
    div(class= "social__boxes"+ colore)
        div.social__red
            img(src="../images/"+imagen, alt="")
            p= user
        .social__followers
            h2= number
            p followers
        .social__date
            img(src="../images/"+imagen2, alt="")
            p 12 Today

mixin boxOverview(like, image, number, icon, number2, color)
    .overview__container__son
        .overview__top
            p= like
            img(src="../images/"+image, alt="")
        .overview__down
            p= number
            div(class="overview__down--right"+ color)
                img(src="../images/"+icon, alt="")
                p= number2